@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide Static route element */
[data-nextjs-router-announcer],
[data-nextjs-scroll-focus-boundary] {
  display: none !important;
}
